
      <div class="col py-3  create-incomes main-container" id="create-expense-form">
        <div class="main-page-text">Создание категории расходов</div>
        <div class="create-income-input ">
          <input type="text" class="form-control " id="create-expense-title" placeholder="Название...">
        </div>
        <div class="create-incomes-buttons">
          <button type="button" class="btn btn-success" id="create-button">Создать</button>
          <button type="button" class="btn btn-danger" id="cancel-button">Отмена</button>
        </div>
      </div>
    </div>
  </div>
</section>