<section class="vh-100 auth">
    <div class="container-fluid h-custom container full-height">
                  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-4">
                      <div class="logo" id="logo">
                          <img src="/images/logo.png" alt="logo">
                      </div>
                    <div class="text-center" id="title">
                        <h1 class="lead   me-3 mb-20 login-title">Вход</h1>
                    </div>
                      <div id="common-error" class="error invalid-feedback text-center mb-3">Неправильный email или пароль</div>
                    <form class="validation-form">
                        <div class="mb-3">
                            <div class="input-group mb-4">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-envelope"></i>
                            </span>
                                <input type="text" class="form-control is-invalid" id="email" placeholder="Электронная почта" required aria-label="email" aria-describedby="basic-addon1">
                                <div class="invalid-feedback">
                                    Пожалуйста, введите правильный email.
                                </div>
                            </div>
                            <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-lock"></i>
                            </span>
                                <input type="password" class="form-control is-invalid" id="password" placeholder="Пароль" aria-label="password"  required aria-describedby="basic-addon2">
<!--                                <div class="invalid-feedback">-->
<!--                                    Пожалуйста, введите правильный пароль.-->
<!--                                </div>-->
                            </div>
                        </div>
                    </form>
                      <div class="d-flex justify-content-between align-items-center">
                          <!-- Checkbox -->
                          <div class="form-check mb-0">
                              <input class="form-check-input me-2" type="checkbox" value="" id="remember-me" />
                              <label class="form-check-label" for="remember-me">
                                  Запомнить меня
                              </label>
                          </div>
                      </div>
                      <div class="text-center text-lg-start mt-4 pt-2">
                          <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary w-100" id="process-button">Войти</button>
                          <p class="small fw- normal mt-2 pt-1 mb-0">Ещё нет аккаунта?
                              <a href="/signup"class="link-primary">Пройдите регистрацию</a></p>
                      </div>
                </div>
            </div>

         </div>
</section>