      <div class="col py-3  create-incomes main-container">
        <div class="main-page-text">Создание категории доходов</div>
        <div class="create-income-input ">
          <input type="text" class="form-control " placeholder="Название...">
        </div>
        <div class="create-incomes-buttons">
          <button type="button" class="btn btn-success">Создать</button>
          <button type="button" class="btn btn-danger">Отмена</button>
        </div>


      </div>
    </div>
  </div>
</section>