
            <div class="col py-3  edit-incomes main-container">
                <div class="main-page-text">Редактирование категории доходов</div>
                <div class="create-income-input ">
                    <input type="text" class="form-control " placeholder="Зарплата">
                </div>
                <div class="create-incomes-buttons">
                    <button type="button" class="btn btn-success">Сохранить</button>
                    <button type="button" class="btn btn-danger">Отмена</button>
                </div>


            </div>
