
            <div class="col py-3  edit-incomes main-container" id="edit-expense-form">
                <div class="main-page-text">Редактирование категории доходов</div>
                <div class="create-income-input" >
                    <input type="text" class="form-control " id="edit-incomes-title" placeholder="Зарплата">
                </div>
                <div class="create-incomes-buttons">
                    <button type="button" class="btn btn-success" id="save-button">Сохранить</button>
                    <button type="button" class="btn btn-danger" id="cancel-button">Отмена</button>
                </div>


            </div>
